<div class="prev-audit">
  <div class="prev-audit__wrapper">
    <div class="table">
      <p-table
        [value]="auditResponse().results"
        [tableStyle]="{ 'min-width': '50rem' }"
        [loading]="isLoading()"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Название</th>
            <th>Текущая версия</th>
            <th>Последняя версия</th>
            <th>Нужен апдейт</th>
            <th>Статус</th>
            <th>Размер</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-dep>
          <tr>
            <td>{{ dep.name }}</td>
            <td>{{ dep.version }}</td>
            <td>{{ dep.latestVersion || '-' }}</td>
            <td>
              <p-tag
                [value]="dep.needsUpdate ? 'Да' : 'Нет'"
                [severity]="dep.needsUpdate ? 'warning' : 'success'"
              ></p-tag>
            </td>
            <td>
              <p-tag
                [value]="dep.status"
                [severity]="getStatusSeverity(dep.status)"
              ></p-tag>
            </td>
            <td>
              <span>{{ formatSize(dep.size) }}</span>
              <p-tag
                style="margin-left: 0.5rem"
                [value]="
      dep.sizeLabel === 'small'
        ? 'Маленький'
        : dep.sizeLabel === 'medium'
        ? 'Средний'
        : dep.sizeLabel === 'large'
        ? 'Большой'
        : '—'
    "
                [severity]="getSizeSeverity(dep.sizeLabel)"
              ></p-tag>
            </td>

          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"/>
