<div class="repo-analysis">
  @if (!isLoading() && auditResult().results.length === 0) {
    <div>Нет Package.json</div>
  } @else {
    <div class="card-header">
      @if (isLoading()) {
        <p-skeleton width="100%" height="3rem" style="margin: 1rem 0"/>
      } @else {
        <h3>Название проекта: {{ auditResult().projectName }}</h3>
        <p-button
          label="Скачать PFD"
          icon="pi pi-download"
          iconPos="right"
          [loading]="downloadInProgress()"
          (click)="downloadPdf()"
        />
      }
    </div>
    <p-table
      [value]="isLoading() ? skeletonItems : auditResult().results"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            <div class="flex items-center gap-2">
              Название
              <p-sortIcon field="name"/>
            </div>
          </th>

          <th pSortableColumn="version">
            <div class="flex items-center gap-2">
              Текущая версия
              <p-sortIcon field="version"/>
            </div>
          </th>

          <th pSortableColumn="latestVersion">
            <div class="flex items-center gap-2">
              Последняя версия
              <p-sortIcon field="latestVersion"/>
            </div>
          </th>

          <th pSortableColumn="needsUpdate">
            <div class="flex items-center gap-2">
              Нужен апдейт
              <p-sortIcon field="needsUpdate"/>
            </div>
          </th>

          <th pSortableColumn="status">
            <div class="flex items-center gap-2">
              Статус
              <p-sortIcon field="status"/>
            </div>
          </th>

          <th pSortableColumn="size">
            <div class="flex items-center gap-2">
              Размер
              <p-sortIcon field="size"/>
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-dep>
        @if (!isLoading()) {
          <tr>
            <td>{{ dep.name }}</td>
            <td>{{ dep.version }}</td>
            <td>{{ dep.latestVersion || '-' }}</td>
            <td>
              <p-tag
                [value]="dep.needsUpdate ? 'Да' : 'Нет'"
                [severity]="dep.needsUpdate ? 'warning' : 'success'"
              />
            </td>
            <td>
              <p-tag
                [value]="dep.status"
                [severity]="getStatusSeverity(dep.status)"
              />
            </td>
            <td>
  <span>
    {{ formatSize(dep.size) }}
  </span>
              <p-tag
                style="margin-left: 0.5rem"
                [value]="
      dep.sizeLabel === 'small'
        ? 'Маленький'
        : dep.sizeLabel === 'medium'
        ? 'Средний'
        : dep.sizeLabel === 'large'
        ? 'Большой'
        : '—'
    "
                [severity]="getSizeSeverity(dep.sizeLabel)"
              />
            </td>
          </tr>
        } @else {
          <tr>
            <td>
              <p-skeleton height="1.5rem" width="100%"></p-skeleton>
            </td>
            <td>
              <p-skeleton height="1.5rem" width="80%"></p-skeleton>
            </td>
            <td>
              <p-skeleton height="1.5rem" width="60%"></p-skeleton>
            </td>
            <td>
              <p-skeleton height="1.5rem" width="70%"></p-skeleton>
            </td>
            <td>
              <p-skeleton height="1.5rem" width="90%"></p-skeleton>
            </td>
            <td>
              <p-skeleton height="1.5rem" width="100%"></p-skeleton>
            </td>
          </tr>
        }

      </ng-template>
    </p-table>
  }
</div>
