<div class="repo-analysis">
  @if (!isLoading() && auditResult().results.length === 0) {
    <div>Нет Package.json</div>
  } @else {
    <p-table
      [value]="isLoading() ? skeletonItems : auditResult().results"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Название</th>
          <th>Текущая версия</th>
          <th>Последняя версия</th>
          <th>Нужен апдейт</th>
          <th>Статус</th>
          <th>Размер</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-dep>
        @if (!isLoading()) {
          <tr>
            <td>{{ dep.name }}</td>
            <td>{{ dep.version }}</td>
            <td>{{ dep.latestVersion || '-' }}</td>
            <td>
              <p-tag
                [value]="dep.needsUpdate ? 'Да' : 'Нет'"
                [severity]="dep.needsUpdate ? 'warning' : 'success'"
              />
            </td>
            <td>
              <p-tag
                [value]="dep.status"
                [severity]="getStatusSeverity(dep.status)"
              />
            </td>
            <td>
  <span>
    {{ formatSize(dep.size) }}
  </span>
              <p-tag
                style="margin-left: 0.5rem"
                [value]="
      dep.sizeLabel === 'small'
        ? 'Маленький'
        : dep.sizeLabel === 'medium'
        ? 'Средний'
        : dep.sizeLabel === 'large'
        ? 'Большой'
        : '—'
    "
                [severity]="getSizeSeverity(dep.sizeLabel)"
              />
            </td>
          </tr>
        } @else {
          <tr>
            <td>
              <p-skeleton height="1.5rem" width="100%"></p-skeleton>
            </td>
            <td>
              <p-skeleton height="1.5rem" width="80%"></p-skeleton>
            </td>
            <td>
              <p-skeleton height="1.5rem" width="60%"></p-skeleton>
            </td>
            <td>
              <p-skeleton height="1.5rem" width="70%"></p-skeleton>
            </td>
            <td>
              <p-skeleton height="1.5rem" width="90%"></p-skeleton>
            </td>
            <td>
              <p-skeleton height="1.5rem" width="100%"></p-skeleton>
            </td>
          </tr>
        }

      </ng-template>
    </p-table>
  }
</div>
